body {
    font: 14px sans-serif;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: white;
}

header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: #1e90ff; /* Azul */
}

header nav a img {
    height: 40px;
}

.banner-container {
    position: relative;
    text-align: center;
}

.banner-container img {
    width: 35%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.wrapper {
    width: 360px;
    padding: 20px;
    margin: auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.btn {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.btn-primary {
    background-color: #007bff;
}
.btn-danger {
    background-color: #dc3545;
}
.help-block {
    color: red;
}
.has-error .form-control {
    border-color: red;
}
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

a {
    color: inherit;
}
